/* Cyberpunk palette (matches ~/.config/kitty/current-theme.conf) */
* {
  rosewater: #F7CCE7;
  flamingo:  #ED91CA;
  pink:      #E455AE;
  mauve:     #9370DB;
  red:       #FB3048;
  maroon:    #E455AE;
  peach:     #FDF500;
  yellow:    #FDF500;
  green:     #28C775;
  teal:      #1AC5B0;
  sky:       #5DF4FE;
  sapphire:  #AE94E4;
  blue:      #AE94E4;
  lavender:  #9370DB;
  text:      #E8FBFD;
  subtext1:  #B8C7CA;
  subtext0:  #889298;
  overlay2:  #7D7F84;
  overlay1:  #52545B;
  overlay0:  #272932;
  surface2:  #331319;
  surface1:  #210E15;
  surface0:  #14101F;
  base:      #040A10;
  mantle:    #030710;
  crust:     #020509;
}
